<div class="row">
    <div class="col-12">
        <div id="carousel" class="carousel slide mb-2" data-ride="carousel">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" *ngFor="let slide of slides; let i = index">
        
                <div class="carousel-inner col-md-4" >
                    <div class="carousel-item active" *ngFor="let kitten of slide">
                        <form (ngSubmit) = "sendAbandonKittenToParent()">
                                <input type="hidden" name="name" value="{{kitten.name}}"
                                [(ngModel)]="abandonKitten.name">
                                <input type="hidden" name="race" value="{{kitten.race}}"
                                [(ngModel)]="abandonKitten.race">
                                <input type="hidden" name="birthday" value="{{kitten.birthday}}"
                                [(ngModel)]="abandonKitten.birthday">
                            <div class="card bg-dark text-white">
                                <img src={{kitten.photo}} class="card-img" alt="...">
                                
                                <div class="card-body">
                                    <h5 class="card-title">{{kitten.name}}</h5>
                                    <p>{{kitten.birthday}}</p>
                                    <p>{{kitten.race}}</p>
                                    <button type="submit" class="btn btn-primary">Abandon</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>

    </div>
</div>


  